<% @messages.each do |message| %>
<div class="message-wrap"><%= message.user.user_name %>: <%= message.body %>
  <% if signed_in? && current_user.admin? %>
    <%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, room_message_path(message.room, message), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
<div class="message-divider"></div>
<% end %>
