<header>
  <h1>Editing room</h1>
</header>
<div class="row">
  <div id="room-form">
    <%= render 'form', room: @room %>
  </div>
</div>
<div class="room-links">
  <%= link_to 'Show', @room %> |
  <%= link_to 'Back', rooms_path %>
</div>